.main-content {
    float: left;
    width: calc(100% - 320px);
}
.side-content {
    float: right;
    width: 300px;
    text-align: center;
    padding-top: 37px;
}
.side-content hr {
    margin: 12px 0;
}
.gdpr-block {
    background-color: #FFFFFF;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    padding: 12px;
}
.fine-print {
    line-height: 20px;
    font-size: 11px;
}

.gdpr-nav-tabs {
    border-bottom: solid 1px #e5e5e5;
    margin-bottom: 0px;
}
.gdpr-nav-tab {
    border: solid 1px #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    cursor: pointer;
    display: inline-block;
    line-height: 12px;
    margin-bottom: -2px;
    margin-right: 6px;
    padding: 12px;
    text-decoration: none;
    color: inherit;
}
.gdpr-nav-tab.gdpr-nav-tab-active {
    border-bottom: solid 1px #FFFFFF;
    background: #FFFFFF;
}

.gdpr-cookie-container {
    float: left;
    margin: 0 6px;
    width: calc(25% - 9px);
    min-width: unset;
    box-sizing: border-box;
}
.gdpr-cookie-container:nth-child(4n)     { margin-right: 0; }
.gdpr-cookie-container:nth-child(n + 5)  { margin-top: 12px; }
.gdpr-cookie-container:nth-child(4n + 1) { clear: both; margin-left: 0; }
.gdpr-cookie-header {
    background-color: #F5F5F5;
    padding: 1em;
    position: relative;
    border-bottom: solid 1px #DDDDDD;
    margin: 0;
}
.gdpr-input {
    padding: 1em;
}
.gdpr-input label {
    color: #666;
    margin-bottom: 5px;
    font-style: italic;
    display: inline-block;
}
.gdpr-tooltip {
    float: right;
    font-size: 17px;
    cursor: pointer;
}
.gdpr-tooltip:hover {
    color: #2196F3;
}
.gdpr-input input {
    display: block;
    width: 100%;   
}
.gdpr-tooltip::before {
    content: "\f223";
    font-family: dashicons;
}
.gdpr-tab {
    background-color: #FFFFFF;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    display: none;
    padding: 12px;
    position: relative;
    z-index: 1;
}
.gdpr-tab.gdpr-tab-active {
    display: block;
}

.gdpr-cookie-content {
    position: relative;
}
.gdpr-cookie-content::before {
    background-color: rgba(0, 0, 0, .4);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .3s linear;
        -webkit-transition: all .3s linear; /* Safari */
    visibility: hidden;
    width: 100%;

}
.gdpr-cookie-content::after {
    color: rgba(255,255,255,0.8);
    content: 'Not in use';
    font-size: 39px;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s linear;
        -webkit-transition: all .3s linear; /* Safari */
    visibility: hidden;
    width: 100%;

}
.gdpr-cookie-header.gdpr-disabled + .gdpr-cookie-content::before,
.gdpr-cookie-header.gdpr-disabled + .gdpr-cookie-content::after {
    cursor: not-allowed;
    opacity: 1;
    visibility: visible;
}

/* --------------------------------------
* Switch
-------------------------------------- */
.gdpr-switch-label, .gdpr-switch-label::before {
    transition: all .3s linear;
    -webkit-transition: all .3s linear; /* Safari */
}
.gdpr-switch {
    box-shadow: 0 0 10px 15px rgba(245, 245, 245, .95);
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;

    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.gdpr-switch .gdpr-switch-checkbox {
    display: none;
}
.gdpr-switch-label {
    background-color: #9E9E9E;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    height: 15px;
}
.gdpr-switch-label::before {
    background: #FFFFFF;
    border-radius: 30px;
    bottom: 0;
    box-shadow: 0 0 8px #757575;
    content: "";
    display: block;
    margin: -5px;
    position: absolute;
    right: calc(100% - 12.5px);
    top: 0;
    width: 25px;
}
.gdpr-switch-checkbox:checked + .gdpr-switch-label {
    background-color: #6BA0CB;
}
.gdpr-switch-checkbox:checked + .gdpr-switch-label::before {
    right: 0px; 
    background-color: #2196F3; 
    box-shadow: none;
}
